[MASTER]
jobs=1
persistent=yes
load-plugins=
    pylint.extensions.check_elif,
    pylint.extensions.bad_builtin,
    pylint.extensions.docparams,
    pylint.extensions.for_any_all,
    pylint.extensions.set_membership,
    pylint.extensions.code_style,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.typing,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.comparison_placement,
    pylint.extensions.broad_try_clause,
    pylint.extensions.dict_init_mutate,
    pylint.extensions.consider_refactoring_into_while_condition,

ignore=CVS,venv,.venv,.pysqvenv,build,dist,.eggs,.git,__pycache__,.mypy_cache,.pytest_cache

py-version = 3.10

[MESSAGES CONTROL]
disable=
    missing-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-return-statements,
    too-many-nested-blocks,
    duplicate-code,
    fixme,
    attribute-defined-outside-init,
    protected-access,
    format,  # handled by black
    consider-using-assignment-expr,
    no-member,  # si usas librerías C o dinámicas
    import-error,  # si tienes problemas con imports en CI

[REPORTS]
output-format=colorized
reports=no
score=yes
fail-under=8.0

[FORMAT]
max-line-length=100
indent-string='    '
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[VARIABLES]
good-names=i,j,k,ex,Run,_,db,id,os,ip,pk,fn,fd,fs,ok
init-import=no

[DESIGN]
max-args=9
max-locals=19
max-returns=11
max-branches=20
max-statements=50
max-attributes=11
max-try-statements=7
max-positional-arguments=12

[BASIC]
function-naming-style=snake_case
variable-naming-style=snake_case
const-naming-style=UPPER_CASE
attr-naming-style=snake_case
argument-naming-style=snake_case
class-naming-style=PascalCase
module-naming-style=snake_case
method-naming-style=snake_case
good-names=i,j,k,ex,Run,_,db,id,os,ip,pk,fn,fd,fs,ok

[TYPECHECK]
ignore-none=yes
ignore-on-opaque-inference=yes

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[EXCEPTIONS]
overgeneral-exceptions=builtins.Exception

[LOGGING]
logging-modules=logging

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[IMPORTS]
allow-any-import-level=
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=regsub,TERMIOS,Bastion,rexec

[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit,argparse.parse_error

[STRING]
check-quote-consistency=no
check-str-concat-over-line-jumps=no

[CODE_STYLE]
# Max line length for which to still emit suggestions.
#max-line-length-suggestions=100